header {
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}
.header-container {
    display: flex;
    justify-content: space-between;
    padding-left: 2em;
    padding-top: 2em;
}
.header-container .header-title {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: #FFF;
    font-size: 1.4rem;
    text-decoration: none;
}
.header-container .header-nav {
    font-size: 1rem;
    color: #FFF;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    padding-right: 4em;
    display: flex;
}
.header-container .header-nav a {
    color: #FFF;
    text-decoration: none;
}
.header-container .header-nav-item {
    padding-left: 1em;
    padding-right: 1em;
}
.header-nav-btn {
    float: right;
    color: #FFF;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    padding-right: 4em;
    display: flex;
}
.header-responsive-btn {
    display: inline-block;
    cursor: pointer;
    display: none;
    position: relative;
    z-index: 101;
}
.header-responsive-btn.change {
    position: fixed;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #FFF;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px) ;
}
.header-menu-responsive {
    height: 100%;
    width: 200px;
    max-width: 200px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    transition: 0.6s;
    transform: translate(200px);
    display: none;
    font-family: 'Roboto', sans-serif;
}
.header-menu-responsive.change {
    transform: translate(0px);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.header-menu-responsive .header-nav {
    font-size: 1rem;
    color: #FFF;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    padding-right: 4em;
    display: flex;
    padding-top: 6em;
    flex-direction: column;
    display: none;
}
.header-nav a {
    color: #FFF;
    text-decoration: none;
    transition: 0.6s;
}
.header-nav a:hover {
    color: #FFF;
    text-decoration: underline;
}
.header-menu-responsive .header-nav-item {
    padding-top: 1em;
    padding-bottom: 1em;
}
.header-menu-responsive.change .header-nav {
    display: block;
}
.header-menu-responsive .header-nav-item {
    padding-left: 1em;
    padding-right: 1em;
}
/* Responsive */
@media (max-width: 768px) {
    .header-container .header-nav {
        display: none;
    }
    .header-responsive-btn {
        display: block;
    }
    .header-menu-responsive {
        display: block;
    }
    .header-menu-responsive.change {
        display: flex;
    }
}